
  
  
  <section class="birthday" id="birthday">
   <div class="container ">
    <h2 class="title">HAPPY BIRTHDAY PARTY</h2>
    <div class="row">
      <div class ="col-5 text-center d-flex align-items-center">
        <img class="img"   src="../../assets/images/cc1.jpg" height="100%" width="100%">
      </div>

      <div class ="col-3 text-start pt-5 ">
        <h3 class="h3">Join Us To Have Fun .</h3>
        <p class="p">
            you are invited to celebrate my birthday.
          your presence in my birthday will make it more special.
          having you all by my side during this time would make me the happiest person in  life.
         
        </p><br> 
      </div> 
        <div class ="col-4 text-center pt-3 ">
        <div class="card" >
          <img class="card-img-top" src="../../assets/images/ww.jpg" >
          
        </div>
        
      </div>
  
      </div>
    </div>
  </section>
 