<div > 
  <h2 class=" text-center">First Project </h2>
 <div class="container-fluid" style="background-color: red;">
    <div class="row text-bg-warning p-3">
      <div class="col">
        </div>
      <div class="col-5">
        <div class="card text-center">
            <div class="card-header text-bg-danger p-3"><b>CALCULATOR</b></div>
            <div class="card-body">
              <h5 class="card-title">Simple calculator using ANGULAR</h5>
             <div class="form-group d-flex flex-row">
              <input type="number" name="num1" class="form-control" [(ngModel)]="num1">
              <input type="number" name="num2" class="form-control" [(ngModel)]="num2">
             </div>
             <br>
              <div class="d-flex flex-row justify-content-md-between">
                <button class="btn btn-primary" (click)="add()">Addition</button>
                <button class="btn btn-success" (click)="sub()">Subtraction</button>
                <button class="btn btn-warning" (click)="mul()">Multiplication</button>
                <button class="btn btn-info" (click)="div()">Division</button>
              </div>
            </div>
            <div class="card-footer text-bg-danger p-3">
              <h5><b>The Result is:{{num3}}</b></h5>
            </div>
          </div>
      </div>
      <div class="col">
       
    </div>
</div>
 </div>
   
