
  
      
      <nav class="navbar navbar-expand-sm bg-dark navbar-dark nav justify-content-center ">
        <div class="container">
        
          <a class="navbar-brand text-center" style="display: flex;" href="../card1/">WELCOME YOU ALL</a>
        </div>
      </nav>
      <br>
      
    <div class="container ">
        <!-- <div class="row">
          <div class ="col-2 ">
            
          </div>
    
          <div class ="col-8 text-start pt-5 "> -->
            <div class="card" >
              <img class="card-img-top" src="../../assets/images/balloon.jpg" width="400px" height="800px" alt="Card image">
              <div class="card-img-overlay">
                <h4 class=" h4 card-title">BIRTHDAY PARTY INVITATION</h4>
              </div>
            <!-- </div>
            <div class ="col-2 text-center pt-3 ">
            
          </div>
         
         -->
          <!-- </div> -->
          
    </div>
    