<!-- <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
		
        <div class="backgrounds overlay">
			<div class="background" data-aos="fade-in" data-aos-duration="1500" data-aos-anchor=".section--hero" style="background-image: url('../assets/images/cc1.jpg');"></div>
		</div>

		
			<div class="hero-center">
				<h1 class="hero__logo" data-aos="zoom-in">Birthday</h1>
				<h2 class="hero__text" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="400">Animate On Scroll <span>Library</span></h2>
			</div>
			<span class="hero__scroll" data-aos="fade-up" data-aos-easing="ease" data-aos-delay="800">
				Scroll down <br>
				<i class="chevron bottom"></i>
			</span>
			<a href="http://github.com/michalsnik/aos" target="_blank" class="octocat" data-aos="zoom-out" data-aos-delay="1500">
				<img src="../assets/images/ww.jpg" alt="">
			</a> -->
<nav class="navbar navbar-expand-lg bg-light">
	<div class="container-fluid">
		<a class="navbar-brand"routerLink="card">Invitation</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
			aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link active" aria-current="page" routerLink="">Calculator</a>
				</li>
				<li class="nav-item">
					<a class="nav-link" routerLink="dummy">testing</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
						aria-expanded="false">
						<!-- Dropdown -->
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" routerLink="dummy">Action</a></li>
						<li><a class="dropdown-item" href="#">Another action</a></li>
						<li>
							<hr class="dropdown-divider">
						</li>
						<li><a class="dropdown-item" href="#">Something else here</a></li>
					</ul>
				</li>
				<!-- <li class="nav-item">
					<a class="nav-link disabled">Disabled</a>
				</li> -->
			</ul>
			<form class="d-flex" role="search">
				<input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
				<button class="btn btn-outline-success" type="submit">Search</button>
			</form>
		</div>
	</div>
</nav>
<router-outlet></router-outlet>